<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Blog-Website</title>
</head>
<body>
    <div class="navbar" >
        <em>YoBlogzzz</em>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="/delete">Delete</a></li>
        </ul>
    </div>
</body>
</html>