<%- include("partials/haeder.ejs") %>
<h1>Compose a Blog</h1>
<form method="post" action="/post" id="form-content">
    <h2>Title</h2>
    <input type="text" class="title" name="title">
    <button type="submit" class="publish">Delete</button>
</form>